@model List<HolaBlog.Entities.Skill>

<div class="col-six tab-full right">
    <h3>Yeteneklerim</h3>

    <ul class="skill-bars">
        @foreach (var item in Model)
        {
            <li>
                <div class="progress percent-@item.Value" style="width: @item.Value%;">
                    <span>@item.Value%</span>
                </div>
                <strong>@item.SkillName</strong>
            </li>
        }
    </ul>
</div>


